<% button_box = "
   display: flex;
   justify-content: space-around;
   align-items: center;
   white-space: nowrap;
 "
%>

<div style="
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1%;
">
<h1>New quiz</h1>
<div style="<%= button_box %>">
  <%= button_to "Back to Quizzes", quizzes_path, method: :get %>
  <%= button_to "Home", root_path, method: :get, style: "margin: 10px;" %>
</div>

<%= render "form", quiz: @quiz, words: @words %>

<br>

</div>