<p style="color: green"><%= notice %></p>

<h1>My Words</h1> 
<%= button_to "+", new_word_path, method: :get %>

<div id="words">
  <% @words.each do |word| %>
    <p>
      <%= link_to word.word, word %>
    </p>
  <% end %>
</div>




<%= button_to "My Account", settings_path, method: :get %>